body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(135deg, rgba(2,0,36,0.919931856899489) 0%, rgba(140,15,188,0.838160136286201) 50%, rgba(142,33,255,0.9233390119250426) 100%);
}

.container {
  display: flex;
  flex-direction: column;
  background-color: gray;
  margin-top: 100px;
  width: 600px;
  background: transparent;
}

.title {
  text-align: center;
}

h1 {
  font-family: 'Source Code Pro', Arial;
  font-size: 45px;
  color: white;
}

p {
  font-family: 'Titillium Web', sans-serif;
  font-size: 19.8px;
  color: white;
}

.textandbutton {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.task-input {
  width: 450px;
  height: 40px;
  border: none;
  padding-left: 20px;
  border-top-left-radius:23px;
  border-bottom-left-radius:23px;
}

.task-button {
  height: 42px;
  padding: 0 30px 0 15px;
  font-family: 'Source Code Pro', Arial;
  font-weight: 400;
  color: white;
  border: none;
  border-top-right-radius:23px;
  border-bottom-right-radius:23px;
  background: linear-gradient(0deg, rgba(2,0,36,0.919931856899489) 0%, rgba(63,11,95,1) 50%, rgba(77,17,138,0.9233390119250426) 100%);
  cursor: pointer;
}

.task-button:hover {
  background: linear-gradient(0deg, rgba(2, 0, 36, 0.638) 0%, rgba(63, 11, 95, 0.531) 50%, rgba(77, 17, 138, 0.479) 100%);
}

.task-button:active {
  background: linear-gradient(0deg, rgba(2,0,36,0.919931856899489) 0%, rgba(63,11,95,1) 50%, rgba(77,17,138,0.9233390119250426) 100%);
}

ul {
  font-family: 'Titillium Web', Arial;
  list-style: none;
  font-size: 18px;
}

ul li {
  background: linear-gradient(90deg, rgba(182,176,176,1) 0%, rgba(183,130,217,1) 96%, rgba(175,141,210,0.9233390119250426) 100%);
  border-radius: 12px;
  padding: 10px 15px;
  margin-left: -15px;
  margin-bottom: 20px;
  width: 424px;
}

ul li:hover {
  cursor: pointer;
  background: linear-gradient(90deg, rgba(117,90,133,1) 0%, rgba(94,52,133,0.9233390119250426) 100%, rgba(73,53,73,1) 100%);
  color: white;
}

@media (max-width: 767px) {
  .container {
    width: 90%; /* Adjust container width for smaller screens */
    margin-top: 50px; /* Adjust margin for smaller screens */
  }

  .task-input,
  .task-button {
    width: 100%; /* Make input and button width 100% for smaller screens */
    border-radius: 0; /* Remove border-radius for smaller screens */
  }

  ul li {
    width: 90%; /* Make list items width 100% for smaller screens */
    margin: 0, auto; /* Remove negative margin for smaller screens */
  }
}


